.div{
  height: 95vh;
  background-color: #0B0C10 ;
  color: #C5C6C7;
}
button{
  font-family: 'Garamond';
  background-color: transparent;
  border: 1px solid #66FCF1;
  color: #C5C6C7;
} 


/* .div a{
  color: #e4e4e4;
} */

/* .div input{
  background-color: transparent;
  border: 1px solid #66FCF1;
  border:1px solid #1b0067;
  color: #C5C6C7;
}
 */
